* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(249, 249, 249);
}

.section1 {
  width: 100%;
  height: 82px;
  display: flex;
  position: fixed;
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
}
.section1 .menu {
  width: 90%;
  height: 82px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 .menu ul {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  color: #363636;
  font-size: 24px;
}
.section1 .menulogo {
  display: none;
}

.section2 {
  height: 82px;
}

.section3 {
  width: 90%;
  height: 603px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.section3 .left {
  width: 45%;
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.section3 .left h1 {
  color: #363636;
  font-size: 70px;
}
.section3 .left h1 span {
  color: #2f0899;
}
.section3 .left p {
  color: #363636;
  font-size: 24px;
}
.section3 .left button {
  width: 274px;
  height: 60px;
  background-color: #f68d2c;
  color: white;
  font-size: 30px;
  border-radius: 20px;
  border: none;
  margin-left: 5px;
}
.section3 .right {
  width: 45%;
}
.section3 .right img {
  border-radius: 20px;
  width: 100%;
  height: 600px;
}

.section4 {
  width: 90%;
  height: 556px;
  margin: auto;
  background-color: #2f0899;
  border-radius: 50px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.section4 .left {
  width: 35%;
  height: 65vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.section4 .left .div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  height: 38vh;
}
.section4 .left h1 {
  font-size: 70px;
  color: white;
}
.section4 .left p {
  font-size: 24px;
  color: white;
}
.section4 .right {
  width: 45%;
  height: 40vh;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  margin-top: 100px;
}
.section4 .right .div {
  width: 50%;
}
.section4 .right h1 {
  font-size: 70px;
}
.section4 .right p {
  width: 140px;
  font-size: 24px;
}

.section5 {
  width: 90%;
  height: 630px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}
.section5 .top1 {
  width: 90%;
}
.section5 .top1 h1 {
  color: #010b23;
  font-size: 70px;
}
.section5 .top1 h1 span {
  color: #2f0899;
}
.section5 .top1 p {
  font-size: 24px;
  letter-spacing: 1px;
}
.section5 .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section5 .bottom .div {
  width: 30%;
  height: 360px;
  background-color: white;
  border: none;
  border-radius: 50px;
}
.section5 .bottom .div .bodyofdiv {
  width: 90%;
  height: 30vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.section5 .bottom .div .bodyofdiv .topofbottom {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.section5 .bottom .div .bodyofdiv .topofbottom h1 {
  width: 65%;
  font-size: 28px;
}
.section5 .bottom .div .bodyofdiv .bottomofbottom {
  width: 95%;
  height: 12vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.section5 .bottom .div .bodyofdiv .bottomofbottom p {
  font-size: 24px;
}
.section5 .bottom .div .bodyofdiv .bottomofbottom ul {
  height: 19vh;
  color: #f68d2c;
  margin-left: 20px;
  font-size: 45px;
  display: flex;
  flex-wrap: wrap;
}
.section5 .bottom .div .bodyofdiv .bottomofbottom ul li {
  width: 100%;
}
.section5 .bottom .div .bodyofdiv .bottomofbottom ul P {
  width: 100%;
  color: #010b23;
  font-size: 24px;
}

.section6 {
  width: 90%;
  height: 963px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top: 100px;
}
.section6 .top {
  width: 100%;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.section6 .top h1 {
  font-size: 70px;
  color: black;
}
.section6 .top h1 span {
  color: #2f0899;
}
.section6 .top p {
  font-size: 24px;
}
.section6 .bottom {
  width: 100%;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.section6 .bottom .topofbottom {
  width: 48%;
  height: 307px;
  background-color: white;
  border: none;
  border-radius: 50px;
}
.section6 .bottom .topofbottom .head {
  height: 80px;
  background-color: #2f0899;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
.section6 .bottom .topofbottom .head h1 {
  font-size: 28px;
  color: white;
  text-align: center;
}
.section6 .bottom .topofbottom .body {
  height: 227px;
  display: flex;
  justify-content: space-evenly;
}
.section6 .bottom .topofbottom .body .leftcenter {
  display: flex;
}
.section6 .bottom .topofbottom .body .leftcenter .center {
  margin-left: 80px;
}
.section6 .bottom .topofbottom .body ul {
  font-size: 35px;
  color: #f68d2c;
  margin-top: 20px;
}
.section6 .bottom .topofbottom .body ul p {
  font-size: 20px;
  color: #010b23;
}
.section6 .bottom .bottomofbottom {
  width: 100%;
  height: 322px;
  border: none;
  border-radius: 50px;
  background-color: white;
}
.section6 .bottom .bottomofbottom .head {
  width: 100%;
  height: 80px;
  background-color: #2f0899;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section6 .bottom .bottomofbottom .head h1 {
  color: white;
  font-size: 28px;
}
.section6 .bottom .bottomofbottom .body {
  width: 80%;
  height: 242px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.section6 .bottom .bottomofbottom .body button {
  padding: 10px 55px;
  border: 2px solid #f68d2c;
  border-radius: 50px;
  background-color: white;
  font-size: 20px;
}
.section6 .bottom .bottomofbottom .body .topofbody,
.section6 .bottom .bottomofbottom .body .centerofbody,
.section6 .bottom .bottomofbottom .body .bottomofbody {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section7 {
  width: 90%;
  height: 420px;
  margin: auto;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section7 .left {
  width: 45%;
}
.section7 .left img {
  width: 100%;
}
.section7 .right {
  width: 45%;
  height: 45vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.section7 .right h1 {
  font-size: 70px;
}
.section7 .right h1 span {
  color: #2f0899;
}
.section7 .right p {
  font-size: 24px;
}
.section7 .right button {
  font-size: 30px;
  color: white;
  padding: 10px 54px;
  background-color: #f68d2c;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
}

.section8 {
  width: 90%;
  height: 411px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top: 120px;
}
.section8 h1 {
  width: 100%;
  font-size: 70px;
  color: black;
}
.section8 h1 span {
  color: #2f0899;
}
.section8 .bottom {
  width: 100%;
  height: 270px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.section8 .bottom .div {
  width: 23%;
  height: 118px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section8 .bottom .div img {
  width: 70%;
  height: 40px;
}

.section9 {
  width: 90%;
  height: 639px;
  background-color: #2f0899;
  margin: auto;
  border-radius: 50px;
  margin-top: 120px;
  display: flex;
  align-content: center;
}
.section9 .body {
  width: 95%;
  height: 70vh;
  margin: auto;
  margin-top: 40px;
}
.section9 .text1 {
  font-size: 70px;
  color: white;
  margin-bottom: 50px;
}
.section9 .div {
  display: flex;
}
.section9 .div .leftcenter {
  width: 55%;
  height: 15vh;
  display: flex;
  align-items: center;
}
.section9 .div .left {
  width: 61px;
  height: 61px;
  background-color: white;
  border-radius: 10px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2f0899;
}
.section9 .div .center {
  color: white;
  margin-left: 20px;
}
.section9 .div .right {
  color: white;
  width: 32%;
}
.section9 .div .right p {
  font-size: 20px;
}

.section10 {
  width: 90%;
  height: 728px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 150px;
}
.section10 .top h1 {
  font-size: 70px;
}
.section10 .top h1 span {
  color: #2f0899;
}
.section10 .form {
  width: 100%;
  height: 534px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section10 .form .bottom {
  width: 49%;
  display: flex;
  justify-content: start;
}
.section10 .form .bottom .div {
  width: 100%;
  height: 480px;
  background-color: white;
  border-radius: 50px;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.section10 .form .bottom .div .head {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.section10 .form .bottom .div .head .centerofhead {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.section10 .form .bottom .div .head .centerofhead h1 {
  font-size: 28px;
  color: #2f0899;
}
.section10 .form .bottom .div .head .centerofhead .buttonsofhead {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.section10 .form .bottom .div .head .centerofhead .buttonsofhead .button1 {
  padding: 5px 17px;
  background-color: #f68d2c;
  border-radius: 50px;
  border: none;
}
.section10 .form .bottom .div .head .centerofhead .buttonsofhead .button2 {
  padding: 5px 17px;
  background-color: #2f0899;
  border-radius: 50px;
  border: none;
}
.section10 .form .bottom .div .head .centerofhead .lockation {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section10 .form .bottom .div .body {
  width: 85%;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
}
.section10 .form .bottom .div .body .bodyofbody {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section10 .form .bottom .div .body .bodyofbody .p {
  display: flex;
}
.section10 .form .bottom .div .foot {
  width: 100%;
  background-color: white;
  height: 18vh;
  display: flex;
  flex-wrap: wrap;
}
.section10 .form .bottom .div .foot .bottom {
  width: 100%;
  height: 12vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.section10 .form .bottom .div .foot .bottom button {
  padding: 5px 30px;
  border-radius: 50px;
  border: 2px solid #2f0899;
  background-color: white;
  font-size: 18px;
  margin-left: 4px;
}

.section11 {
  width: 90%;
  height: 632px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.section11 .top {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.section11 .top h1 {
  font-size: 70px;
}
.section11 .top h1 span {
  color: #2f0899;
}
.section11 .top p {
  width: 80%;
  font-size: 24px;
}
.section11 .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section11 .bottom .div {
  width: 23%;
  height: 361px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  align-items: center;
}
.section11 .bottom .div .head {
  width: 90%;
  height: 40vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.section11 .bottom .div .head .body {
  width: 100%;
  height: 5vh;
  margin: auto;
  display: flex;
}
.section11 .bottom .div .head .body p {
  background-color: #f68d2c;
  padding: 5px 17px;
  border-radius: 50px;
  color: white;
  font-size: 20px;
}
.section11 .bottom .div .head .foot {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.section11 .bottom .div .head .foot h1 {
  font-size: 30px;
}
.section11 .bottom .div .head .foot p {
  font-size: 22px;
}

.section12 {
  width: 90%;
  height: 568px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  margin-top: 120px;
}
.section12 .top h1 {
  font-size: 70px;
}
.section12 .top h1 span {
  color: #2f0899;
}
.section12 .top p {
  margin-top: 15px;
  font-size: 24px;
  width: 90%;
}
.section12 .bottom {
  display: flex;
  justify-content: space-between;
}
.section12 .bottom .div {
  width: 23%;
  height: 300px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section12 .bottom .div .head {
  height: 35vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.section12 .bottom .div .head .body {
  width: 80%;
  height: 10vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.section12 .bottom .div .head .body img {
  width: 61px;
  height: 61px;
}
.section12 .bottom .div .head .body h1 {
  width: 62%;
  font-size: 28px;
}
.section12 .bottom .div .head .foot {
  width: 80%;
  margin: auto;
}
.section12 .bottom .div .head .foot p {
  width: 85%;
  font-size: 20px;
  letter-spacing: 1px;
}

.section13 {
  background-color: #2f0899;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
.section13 .top {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section13 .top .left {
  width: 50%;
}
.section13 .top .left h1 {
  font-size: 70px;
  color: white;
}
.section13 .top .left p {
  font-size: 20px;
  color: white;
  width: 70%;
}
.section13 .top .contact {
  width: 50%;
  height: 33vh;
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
}
.section13 .top .contact h1 {
  font-size: 28pxp;
}
.section13 .top .contact p {
  font-size: 20px;
}
.section13 .top .contact .div1 {
  width: 50%;
  line-height: 40px;
}
.section13 .top .contact .div2 {
  width: 100%;
  line-height: 50px;
}
.section13 .top .contact .div2 .topofdiv2 {
  width: 100%;
}
.section13 .bottom {
  width: 90%;
  height: 15vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section13 .bottom .right {
  width: 55%;
}
.section13 .bottom .right ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
  color: white;
}

@media (max-width: 400px) {
  .section1 {
    display: flex;
    width: 100%;
  }
  .section1 .menu ul {
    display: none;
  }
  .section1 .menu .menulogo {
    display: flex;
  }
  .section2 {
    display: block;
  }
  .section3 {
    display: block;
    height: 100vh;
  }
  .section3 .left {
    width: 100%;
    height: 32vh;
  }
  .section3 .left h1 {
    font-size: 38px;
  }
  .section3 .left p {
    font-size: 20px;
  }
  .section3 .left button {
    width: 100%;
    height: 60px;
    margin: 0px;
    font-size: 20px;
  }
  .section3 .right {
    width: 100%;
    height: 345px;
    margin-top: 50px;
  }
  .section3 .right img {
    width: 100%;
    height: 345px;
  }
  .section4 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    height: 120vh;
    margin-top: 50px;
  }
  .section4 .left {
    width: 100%;
    height: 58vh;
    margin: 0px;
    align-content: space-between;
  }
  .section4 .left h1 {
    font-size: 36px;
    width: 80%;
    margin: auto;
  }
  .section4 .left .div {
    height: 50vh;
  }
  .section4 .left p {
    width: 80%;
    font-size: 20px;
    margin: auto;
    margin-bottom: 20px;
  }
  .section4 .right {
    width: 80%;
    height: 55vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .section4 .right .div {
    width: 100%;
    line-height: 40px;
  }
  .section4 .right .div h1 {
    font-size: 36px;
  }
  .section4 .right .div p {
    width: 100%;
    font-size: 20px;
  }
  .section5 {
    height: 170vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .section5 .top1 {
    width: 100%;
    height: 35vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .section5 .top1 h1 {
    font-size: 36px;
  }
  .section5 .top1 p {
    font-size: 20px;
  }
  .section5 .bottom {
    width: 100%;
    height: 115vh;
    flex-wrap: wrap;
  }
  .section5 .bottom .div {
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
  }
  .section5 .bottom .div .bodyofdiv .topofbottom {
    margin-left: 10px;
  }
  .section5 .bottom .div .bodyofdiv .topofbottom img {
    width: 40px;
    height: 40px;
  }
  .section5 .bottom .div .bodyofdiv .topofbottom h1 {
    font-size: 20px;
  }
  .section5 .bottom .div .bodyofdiv .bottomofbottom {
    height: 20vh;
  }
  .section5 .bottom .div .bodyofdiv .bottomofbottom p {
    font-size: 18px;
  }
  .section5 .bottom .div .bodyofdiv .bottomofbottom ul {
    font-size: 30px;
    height: 14vh;
    align-items: center;
  }
  .section5 .bottom .div .bodyofdiv .bottomofbottom ul p {
    font-size: 17px;
  }
  .section6 {
    height: 250vh;
    display: flex;
    align-content: space-between;
    margin-top: 40px;
  }
  .section6 .top {
    height: 37vh;
  }
  .section6 .top h1 {
    font-size: 36px;
  }
  .section6 .top p {
    font-size: 20px;
  }
  .section6 .bottom {
    height: 220vh;
    margin-top: 20px;
  }
  .section6 .bottom .topofbottom {
    width: 100%;
    height: 65vh;
  }
  .section6 .bottom .topofbottom h1 {
    font-size: 26px;
    width: 60%;
    margin: auto;
  }
  .section6 .bottom .topofbottom .body {
    display: flex;
    flex-wrap: wrap;
  }
  .section6 .bottom .topofbottom .body .leftcenter {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
  }
  .section6 .bottom .topofbottom .body .leftcenter .center {
    margin: 10px;
  }
  .section6 .bottom .topofbottom .body .right {
    flex-wrap: wrap;
    flex-direction: column;
    height: 15vh;
    width: 80%;
  }
  .section6 .bottom .topofbottom .body .right ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: start;
    width: 90%;
    margin: 0px;
  }
  .section6 .bottom .topofbottom .body .right ul li {
    width: 40%;
  }
  .section6 .bottom .topofbottom .body .right ul li p {
    width: 40%;
  }
  .section6 .bottom .bottomofbottom {
    height: 515px;
  }
  .section6 .bottom .bottomofbottom .body {
    width: 90%;
    height: 65vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .section6 .bottom .bottomofbottom .body .topofbody {
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .section6 .bottom .bottomofbottom .body .topofbody button {
    width: 100%;
    margin: auto;
    font-size: 15px;
    padding: 7px 20px;
  }
  .section6 .bottom .bottomofbottom .body .centerofbody {
    height: 20vh;
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
  .section6 .bottom .bottomofbottom .body .centerofbody button {
    width: 100%;
    margin: auto;
    font-size: 15px;
    padding: 7px 20px;
  }
  .section6 .bottom .bottomofbottom .body .bottomofbody {
    height: 20vh;
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
  .section6 .bottom .bottomofbottom .body .bottomofbody button {
    width: 100%;
    margin: auto;
    font-size: 15px;
    padding: 7px 20px;
  }
  .section7 {
    height: 77vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .section7 .left {
    width: 100%;
  }
  .section7 .right {
    width: 100%;
    height: 35vh;
  }
  .section7 .right h1 {
    font-size: 36px;
  }
  .section7 .right p {
    font-size: 20px;
  }
  .section7 .right button {
    width: 100%;
    font-size: 20px;
  }
  .section8 {
    height: 53vh;
    display: block;
  }
  .section8 h1 {
    font-size: 36px;
  }
  .section8 .bottom {
    height: 280px;
    margin-top: 20px;
  }
  .section8 .bottom .div {
    width: 100%;
    margin: auto;
    height: 8vh;
  }
  .section8 .bottom .div img {
    height: 6vh;
  }
  .section8 .bottom .div:nth-child(n+5) {
    display: none;
  }
  .section9 {
    height: 870px;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
  }
  .section9 .text1 {
    width: 80%;
    font-size: 36px;
  }
  .section9 .div {
    width: 95%;
    margin: auto;
    display: block;
  }
  .section9 .div h1 {
    font-size: 20px;
  }
  .section9 .div p {
    font-size: 18px;
  }
  .section9 .div .leftcenter {
    width: 100%;
  }
  .section9 .div .right {
    width: 80%;
  }
  .section10 {
    height: 215vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 50px;
  }
  .section10 .top {
    width: 100%;
    height: 1;
  }
  .section10 .top h1 {
    font-size: 36px;
  }
  .section10 .form {
    width: 95%;
    height: 200vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .section10 .form .bottom {
    width: 100%;
    height: 100vh;
  }
  .section10 .form .bottom .div {
    width: 100%;
    height: 610px;
    flex-wrap: wrap;
  }
  .section10 .form .bottom .div .head {
    width: 100%;
  }
  .section10 .form .bottom .div .head .leftofhead img {
    width: 104px;
    height: 103px;
  }
  .section10 .form .bottom .div .head .centerofhead h1 {
    font-size: 18px;
  }
  .section10 .form .bottom .div .head .centerofhead .buttonsofhead {
    width: 100%;
  }
  .section10 .form .bottom .div .head .centerofhead .buttonsofhead .button1,
  .section10 .form .bottom .div .head .centerofhead .buttonsofhead .button2 {
    font-size: 12px;
    padding: 5px 10px;
  }
  .section10 .form .bottom .div .head .centerofhead .lockation {
    width: 70%;
  }
  .section10 .form .bottom .div .body {
    font-size: 15px;
  }
  .section10 .form .bottom .div .body .bodyofbody {
    display: block;
  }
  .section10 .form .bottom .div .foot {
    height: 25vh;
  }
  .section10 .form .bottom .div .foot .bottom {
    height: 20vh;
    align-content: space-around;
  }
  .section10 .form .bottom .div .foot .bottom .divofline button {
    font-size: 15px;
    padding: 5px 27px;
  }
  .section11 {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 185vh;
    margin: auto;
    margin-top: 100px;
  }
  .section11 .top {
    width: 100%;
    height: 43vh;
    align-content: space-between;
  }
  .section11 .top h1 {
    width: 100%;
    font-size: 36px;
  }
  .section11 .top p {
    width: 100%;
    font-size: 20px;
    line-height: 25px;
  }
  .section11 .bottom {
    height: 140vh;
    display: flex;
    flex-wrap: wrap;
  }
  .section11 .bottom .div {
    width: 100%;
    height: 207px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section11 .bottom .div .head {
    align-content: space-evenly;
    height: 25vh;
  }
  .section11 .bottom .div .head .body p {
    font-size: 15px;
  }
  .section11 .bottom .div .head .foot {
    height: 15vh;
  }
  .section11 .bottom .div .head .foot h1 {
    font-size: 20px;
  }
  .section11 .bottom .div .head .foot p {
    font-size: 15px;
  }
  .section12 {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    height: 170vh;
    margin-top: 100px;
    align-content: space-between;
  }
  .section12 .top h1 {
    font-size: 36px;
  }
  .section12 .top p {
    font-size: 20px;
  }
  .section12 .bottom {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 130vh;
  }
  .section12 .bottom .div {
    width: 100%;
    height: 183px;
  }
  .section12 .bottom .div .head {
    width: 80%;
    margin: auto;
    height: 25vh;
  }
  .section12 .bottom .div .head .body {
    width: 90%;
    display: flex;
    align-items: center;
  }
  .section12 .bottom .div .head .body img {
    width: 40px;
    height: 40px;
  }
  .section12 .bottom .div .head .body h1 {
    font-size: 20px;
  }
  .section12 .bottom .div .head .foot p {
    width: 100%;
    font-size: 15px;
  }
  .section13 {
    width: 100%;
    height: 155vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .section13 .top {
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .section13 .top .left {
    width: 100%;
    height: 50vh;
  }
  .section13 .top .left h1 {
    font-size: 36px;
  }
  .section13 .top .left p {
    width: 90%;
    font-size: 20px;
  }
  .section13 .top .contact {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
  }
  .section13 .top .contact .div1 {
    width: 100%;
  }
  .section13 .top .contact .div1 h1 {
    font-size: 30px;
  }
  .section13 .top .contact .div1 p {
    font-size: 20px;
  }
  .section13 .top .contact .div2 h1 {
    font-size: 30px;
  }
  .section13 .top .contact .div2 img {
    width: 40px;
    height: 40px;
  }
  .section13 .top .contact .div2 .bottomofdiv2 {
    width: 27%;
    display: flex;
    justify-content: space-between;
  }
  .section13 .bottom {
    width: 90%;
    height: 30vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .section13 .bottom .right {
    width: 100%;
  }
  .section13 .bottom .right ul {
    display: block;
    line-height: 40px;
  }
}/*# sourceMappingURL=figma.css.map */